@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");
@media (max-width: 800px) {
  header .inside-header {
    flex-wrap: wrap;
  }
  header .inside-header .logo {
    margin-left: 5%;
    position: relative;
  }
  header .inside-header label#fburger {
    margin-right: 5%;
    visibility: visible;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    right: 10%;
    font-size: 4rem;
    cursor: pointer;
  }
  header .inside-header #burger:checked ~ nav ul {
    flex-direction: column;
    flex-grow: 1;
  }
  header .inside-header #burger:checked ~ nav ul li {
    border-bottom: 1px solid black;
    padding: 2%;
  }
  header .inside-header #burger:checked ~ nav ul li a {
    display: inline;
  }
  header .inside-header nav ul li {
    text-align: center;
    background: #D9D9D9;
  }
  header .inside-header nav ul li a {
    display: none;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: relative;
  background: #D9D9D9;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header img {
  height: 65px;
  width: auto;
  margin-left: 5%;
}
header .inside-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  flex-direction: row;
}
header .inside-header input[type=checkbox] {
  visibility: hidden;
}
header .inside-header label[for=burger] {
  visibility: hidden;
}
header .inside-header nav {
  width: 100%;
  display: flex;
  align-items: center;
}
header .inside-header nav ul {
  width: 95%;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  display: flex;
}
header .inside-header nav ul li {
  display: inline-block;
  font-family: "Roboto Mono", monospace;
}
header .inside-header nav ul li a {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  text-decoration: none;
  color: black;
  font-size: 2rem;
  transition: color 0.4s;
}
header .inside-header nav ul li a:hover {
  color: grey;
}
header .inside-header nav ul li.active a {
  text-shadow: gold 1px 0 10px;
  color: #656565;
}

.Naming {
  background: #D9D9D9;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Naming p {
  font-family: "Merriweather", serif;
  font-size: 2rem;
}

.footer {
  position: relative;
  width: 100%;
  background: #D9D9D9;
  font-family: "Montserrat", sans-serif;
  color: black;
  font-size: 2rem;
}
.footer a {
  text-decoration: none;
  color: black;
  transition: color 0.4s;
}
.footer a:hover {
  color: gray;
}
.footer .lastline {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.footer .lastline .small {
  margin-right: 0.5%;
  font-size: 1rem;
}

@media (max-width: 400px) {
  main section .HeadCard .info {
    font-size: 8px;
  }
  main section .HeadCard .info .line img.mini {
    width: 30px;
  }
}
main section .HeadCard {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 5% 10%;
  background: url(../imgs/popular.webp);
  background-attachment: fixed;
  flex-wrap: wrap;
}
main section .HeadCard img.maincard {
  flex: 1 1 1px;
  max-width: 400px;
  margin-right: 5%;
}
main section .HeadCard .info {
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main section .HeadCard .info .line {
  width: 100%;
  background: #D9D9D9;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 1% 10%;
  border: 1px solid black;
  border-radius: 300px;
}
main section .HeadCard .info .line img {
  flex-grow: 0;
  width: 40px;
  transition: all 0.2s;
}
main section .HeadCard .info .line img:hover {
  transform: scale(1.1);
  filter: grayscale(0.3);
}
main section .HeadCard .info .line p {
  color: black;
  font-size: 2.7em;
  margin-right: 5%;
}
main section .HeadCard .info .line p.rarity {
  margin: 0;
}
main section .cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  background: url(../imgs/popular.webp);
  background-attachment: fixed;
}
main section .cards img.card {
  width: 20%;
}
main section .cards img.card:hover {
  cursor: pointer;
}