@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");
@media (max-width: 800px) {
  header .inside-header {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  header .inside-header .logo {
    margin-left: 5%;
    position: relative;
  }
  header .inside-header label#fburger {
    margin-right: 5%;
    visibility: visible;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    right: 10%;
    font-size: 4rem;
    cursor: pointer;
  }
  header .inside-header #burger:checked ~ nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  header .inside-header #burger:checked ~ nav ul li {
    border-bottom: 1px solid black;
    padding: 2%;
  }
  header .inside-header #burger:checked ~ nav ul li a {
    display: inline;
  }
  header .inside-header nav ul {
    -webkit-transform: translateY(-3%);
            transform: translateY(-3%);
  }
  header .inside-header nav ul li {
    text-align: center;
    background: #EDEDED;
  }
  header .inside-header nav ul li a {
    display: none;
  }
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  position: relative;
  background: #EDEDED;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header svg {
  height: 65px;
  width: auto;
  margin-left: 5%;
}
header .inside-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
header .inside-header input[type=checkbox] {
  visibility: hidden;
}
header .inside-header label[for=burger] {
  visibility: hidden;
}
header .inside-header nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .inside-header nav ul {
  width: 95%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header .inside-header nav ul li {
  display: inline-block;
  font-family: "Roboto Mono", monospace;
}
header .inside-header nav ul li a {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-decoration: none;
  color: black;
  font-size: 2rem;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
}
header .inside-header nav ul li a:hover {
  color: grey;
}
header .inside-header nav ul li.active a {
  text-shadow: gold 1px 0 10px;
  color: #656565;
}

.Naming {
  background: #EDEDED;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.Naming h2 {
  text-align: center;
  font-family: "Merriweather", serif;
  font-size: 2rem;
  font-weight: 400;
}

.footer {
  position: relative;
  width: 100%;
  background: #EDEDED;
  font-family: "Montserrat", sans-serif;
  color: black;
  font-size: 2rem;
  padding: 0 1%;
}
.footer a {
  text-decoration: none;
  color: black;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
}
.footer a:hover {
  color: gray;
}
.footer .lastline {
  margin-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.footer .lastline .small {
  margin-right: 0.5%;
  font-size: 1rem;
}

main section .HeadCard .info .line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* {
  scroll-behavior: smooth;
}

main section .HeadCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5% 10%;
  background: url(../imgs/popular.webp);
  background-attachment: fixed;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
main section .HeadCard img.maincard {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 300px;
          flex: 0 1 300px;
  max-width: 300px;
}
main section .HeadCard .info {
  max-width: 500px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 350px;
          flex: 1 0 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main section .HeadCard .info .line {
  width: 89%;
  height: 50px;
  background: #EDEDED;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 1% 4%;
  border: 1px solid black;
  border-radius: 25px;
}
main section .HeadCard .info .line img.mini {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  width: 40px;
  height: 40px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  border-radius: 50%;
}
main section .HeadCard .info .line img.mini:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-filter: grayscale(0.3);
          filter: grayscale(0.3);
}
main section .HeadCard .info .line p {
  color: black;
  font-size: 24px;
  margin-right: 5%;
}
main section .HeadCard .info .line p:last-child {
  margin: 0;
}
main section .cards {
  padding: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background: url(../imgs/popular.webp);
  background-attachment: fixed;
}
main section .cards img.card {
  width: 20%;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}
main section .cards img.card:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}