@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");
@media (max-width: 800px) {
  header .inside-header {
    flex-wrap: wrap;
  }
  header .inside-header .logo {
    margin-left: 5%;
    position: relative;
  }
  header .inside-header label#fburger {
    margin-right: 5%;
    visibility: visible;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    right: 10%;
    font-size: 4rem;
    cursor: pointer;
  }
  header .inside-header #burger:checked ~ nav ul {
    flex-direction: column;
    flex-grow: 1;
  }
  header .inside-header #burger:checked ~ nav ul li {
    border-bottom: 1px solid black;
    padding: 2%;
  }
  header .inside-header #burger:checked ~ nav ul li a {
    display: inline;
  }
  header .inside-header nav ul li {
    text-align: center;
    background: #D9D9D9;
  }
  header .inside-header nav ul li a {
    display: none;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: relative;
  background: #D9D9D9;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header img {
  height: 65px;
  width: auto;
  margin-left: 5%;
}
header .inside-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  flex-direction: row;
}
header .inside-header input[type=checkbox] {
  visibility: hidden;
}
header .inside-header label[for=burger] {
  visibility: hidden;
}
header .inside-header nav {
  width: 100%;
  display: flex;
  align-items: center;
}
header .inside-header nav ul {
  width: 95%;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  display: flex;
}
header .inside-header nav ul li {
  display: inline-block;
  font-family: "Roboto Mono", monospace;
}
header .inside-header nav ul li a {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  text-decoration: none;
  color: black;
  font-size: 2rem;
  transition: color 0.4s;
}
header .inside-header nav ul li a:hover {
  color: grey;
}
header .inside-header nav ul li.active a {
  text-shadow: gold 1px 0 10px;
  color: #656565;
}

.Naming {
  background: #D9D9D9;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Naming p {
  font-family: "Merriweather", serif;
  font-size: 2rem;
}

.footer {
  position: relative;
  width: 100%;
  background: #D9D9D9;
  font-family: "Montserrat", sans-serif;
  color: black;
  font-size: 2rem;
}
.footer a {
  text-decoration: none;
  color: black;
  transition: color 0.4s;
}
.footer a:hover {
  color: gray;
}
.footer .lastline {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.footer .lastline .small {
  margin-right: 0.5%;
  font-size: 1rem;
}

main section .Popular-content {
  width: 100%;
  background: url(/imgs/popular.webp);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 5% 0;
}
main section .Popular-content .deck1, main section .Popular-content .deck2 {
  flex: 1 1 400px;
  padding: 0 5%;
  display: flex;
  justify-items: center;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
  flex-direction: column;
}
main section .Popular-content .deck1 .row-container, main section .Popular-content .deck2 .row-container {
  width: 100%;
  height: 55%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
}
main section .Popular-content .deck1 .row-container .row1, main section .Popular-content .deck1 .row-container .row2, main section .Popular-content .deck2 .row-container .row1, main section .Popular-content .deck2 .row-container .row2 {
  width: 100%;
  height: 50%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}
main section .Popular-content .deck1 .row-container .row1 img, main section .Popular-content .deck1 .row-container .row2 img, main section .Popular-content .deck2 .row-container .row1 img, main section .Popular-content .deck2 .row-container .row2 img {
  flex-shrink: 1;
  width: 25%;
}
main section .Popular-content .deck1 .info, main section .Popular-content .deck2 .info {
  width: 100%;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2% 0;
}
main section .Popular-content .deck1 .info p, main section .Popular-content .deck2 .info p {
  font-family: "Montserrat", sans-serif;
  font-size: max(3vh, 3vw);
}
main section .Popular-content .deck1 .info p .elixir, main section .Popular-content .deck2 .info p .elixir {
  color: #FF1EED;
}
main section .Popular-content .deck1 .info p .WinRateGood, main section .Popular-content .deck2 .info p .WinRateGood {
  color: #0EB400;
}
main section .best-content {
  position: relative;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  color: white;
}
main section .best-content .players, main section .best-content .clans {
  position: relative;
  flex: 1 1 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: space-around;
  font-size: 2rem;
}
main section .best-content .players.players, main section .best-content .clans.players {
  background: url(/imgs/players.jpg);
  background-attachment: fixed;
}
main section .best-content .players.clans, main section .best-content .clans.clans {
  background: url(/imgs/clans.jpg);
  background-attachment: fixed;
}
main section .best-content .players img, main section .best-content .clans img {
  width: 100%;
  position: absolute;
  z-index: -1;
}
main section .best-content .players h3, main section .best-content .clans h3 {
  padding: 5% 0;
  text-align: center;
  font-family: "Lato", sans-serif;
}
main section .best-content .players .player, main section .best-content .players .clan, main section .best-content .clans .player, main section .best-content .clans .clan {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  width: 95%;
  margin-top: 5%;
  margin-bottom: 5%;
}
main section .best-content .players .player .place, main section .best-content .players .clan .place, main section .best-content .clans .player .place, main section .best-content .clans .clan .place {
  width: 30px;
  height: 30px;
  display: flex;
  background: #D9D9D9;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 2rem;
}
main section .best-content .players .player .name, main section .best-content .players .clan .name, main section .best-content .clans .player .name, main section .best-content .clans .clan .name {
  width: 60%;
  font-size: max(3vh, 3vw);
}
main section .best-content .players .player .trophies, main section .best-content .players .clan .trophies, main section .best-content .clans .player .trophies, main section .best-content .clans .clan .trophies {
  font-size: max(3vh, 3vw);
}
main section .best-content .players .player .trophies img, main section .best-content .players .clan .trophies img, main section .best-content .clans .player .trophies img, main section .best-content .clans .clan .trophies img {
  position: relative;
  height: 30px;
  width: 30px;
  z-index: 1;
}