@import "general";

* {
    scroll-behavior: smooth;
}

main {
    section {
        .HeadCard {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            padding: 5% 10%;
            background: url(../imgs/popular.webp);
            background-attachment: fixed;
            flex-wrap: wrap;
            img.maincard {
                flex: 0 1 300px;
                max-width: 300px;
            }
            .info {
                max-width: 500px;
                flex: 1 0 350px;
                display: flex;
                flex-direction: column;
                align-items: center;
                .line {
                    width: 89%;
                    height: 50px;
                    background: $ThemeColor;
                    flex-direction: row;
                    @extend %center;
                    padding: 1% 4%;
                    border: 1px solid black;
                    border-radius: 25px ;
                    img.mini {
                        flex-grow: 0;
                        width: 40px;
                        height: 40px;
                        transition: all 0.2s;
                        border-radius: 50%;
                        &:hover {
                            transform: scale(1.1);
                            filter: grayscale(0.3);
                        }
                    }
                    p {
                        color: black;
                        font-size: 24px;
                        margin-right: 5%;
                        &:last-child {
                            margin: 0;
                        }
                    }
                }
            }
        }
        .cards {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            background: url(../imgs/popular.webp);
            background-attachment: fixed;
            img.card {
                width: 20%;
                transition: all 0.1s;
                &:hover {
                    cursor: pointer;
                    transform: scale(1.1);
                }
            }
        }
    }
}